<form method="post">
	<h2>Загрузить товар</h2>
	<input type="text" name="good_name" placeholder="Имя товара" />
	<br/><br/>
	<textarea name="text" cols="64" rows="16" placeholder="Описание товары"></textarea>
	<br/><br/>
	<input type="file" name="file" value="Выбрать фото" />
    <br/><br/>
    <input type="submit" value="Сохранить" />
</form>