<table>
    <h3>{{title}}</h3>
    {% for item in basket %}
       {% for option in item %}
            <thead>Название позиции</thead>
            <tr>
                <td>{{option}}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>