/Add.php
/And.php
/BitwiseAnd.php
/BitwiseOr.php
/BitwiseXor.php
/Concat.php
/Div.php
/EndsWith.php
/Equal.php
/FloorDiv.php
/Greater.php
/GreaterEqual.php
/In.php
/Less.php
/LessEqual.php
/Matches.php
/Mod.php
/Mul.php
/NotEqual.php
/NotIn.php
/Or.php
/Power.php
/Range.php
/StartsWith.php
/Sub.php
