<div class="images">
    {% for arrayOfPathToMiniImage in arrayOfPathToMiniImages %}
        <a target="_blank" href="controllers/image.php">
            <img src="{{arrayOfPathToMiniImage}}" class="mini_image" />
        </a>
    {% endfor %}
</div>